{#
<div class="mag-wrapper">
    <div class="mag section section" id="magstyle4">
        <div class="widget HTML" data-version="1" id="HTML920">
            <div class="widget-content">
                <div class="title">
                    <a href="https://news16-templatemark.blogspot.com/search/label/News">Trending News</a>
                    <div class="viewall"><a href="https://news16-templatemark.blogspot.com/search/label/News">All News</a></div>
                </div>
                <div class="clear"></div>
                <ul id="label_with_thumbs">
                    <li class="recent-box">
                        <div class="imageContainer">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" target="_top">
                                <img class="label_thumb" src="/News16_files/woman_593141_960_720_003.jpg" title="New Form of Farming Revolutionizes the Way We Eat" alt="New Form of Farming Revolutionizes the Way We Eat" style="width: auto; height: 100px; margin-left: -25.9091px; margin-top: 0px;">
                            </a>
                        </div>
                        <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" target="_top">New Form of Farming Revolutionizes the Way We Eat</a>
                        <div class="toe">
                            <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" class="post-date">23 Oct 2017</a>
                            <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html#comment-form" target="_top">3 Comments</a>
                        </div>
                        <p class="post-summary">By
                            2050, the world population will reach almost 10 billion people, at
                            least 66 percent of whom will live in urban areas.Water-scarcity issues
                            are rampant and...
                        </p>
                    </li>
                    <li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_top"><img class="label_thumb" src="/News16_files/spring_2298279_960_7_0acWE_002.jpg" title="New Resources Critical for Stroke Recovery" alt="New Resources Critical for Stroke Recovery" style="width: auto; height: 100px; margin-left: -25.9091px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_top">New Resources Critical for Stroke Recovery</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html#comment-form" target="_top">1 Comment</a></div><p class="post-summary">The
                            American Heart Association/American Stroke Association (AHA/ASA), the
                            world’s leading voluntary organization dedicated to building healthier
                            lives, free of...</p>
                    </li>
                    <li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html" target="_top"><img class="label_thumb" src="/News16_files/laugh_536287_960_720_002.jpg" title="Football Helmet Safety in Three Simple Steps" alt="Football Helmet Safety in Three Simple Steps" style="width: auto; height: 100px; margin-left: -25.9091px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html" target="_top">Football Helmet Safety in Three Simple Steps</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html#comment-form" target="_top">No Comments</a></div><p class="post-summary">As
                            the high school and college football seasons heat up, the National
                            Operating Committee on Standards for Athletic Equipment (NOCSAE) is
                            encouraging parents,...</p>
                    </li>
                    <li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" target="_top"><img class="label_thumb" src="/News16_files/girl_97433_960_720_002.jpg" title="Help for Homeowners On the Hook for Billions in Hurricane Damages" alt="Help for Homeowners On the Hook for Billions in Hurricane Damages" style="width: auto; height: 100px; margin-left: -25.9091px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" target="_top">Help for Homeowners On the Hook for Billions in Hurricane Damages</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html#comment-form" target="_top">No Comments</a></div><p class="post-summary">And
                            now comes the arduous task of rebuilding hundreds of thousands of
                            houses destroyed or damaged by Hurricanes Harvey and Irma.And with it,
                            alas, the...</p>
                    </li>
                    <li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" target="_top"><img class="label_thumb" src="/News16_files/blue_2705642_960_720.jpg" title="5 Mistakes to Avoid When Choosing a Medicare Advantage Plan" alt="5 Mistakes to Avoid When Choosing a Medicare Advantage Plan" style="width: auto; height: 100px; margin-left: -25.9091px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" target="_top">5 Mistakes to Avoid When Choosing a Medicare Advantage Plan</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html#comment-form" target="_top">No Comments</a></div><p class="post-summary">The
                            Medicare Annual Election Period takes place this fall from Oct. 15
                            through Dec. 7. It’s a time for people with Medicare to make important
                            decisions about...</p>
                    </li>
                    <li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/medical-device-protects-doctors-nurses.html" target="_top"><img class="label_thumb" src="/News16_files/beautiful_1274056_96_Gen40.jpg" title="Medical Device Protects Doctors, Nurses from Pathogens" alt="Medical Device Protects Doctors, Nurses from Pathogens" style="width: auto; height: 100px; margin-left: -25.9091px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/medical-device-protects-doctors-nurses.html" target="_top">Medical Device Protects Doctors, Nurses from Pathogens</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/medical-device-protects-doctors-nurses.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/medical-device-protects-doctors-nurses.html#comment-form" target="_top">No Comments</a></div><p class="post-summary">Every
                            time a patient has surgery or any other procedures at a hospital, the
                            hospital faces the challenge of disposing of all the blood, urine, and
                            other fluids...</p>
                    </li>
                </ul>
            </div>
        </div></div>
    <div class="clear"></div>
</div>
#}

<div class="mag-wrapper">
    <div class="mag section section" id="magstyle4">
        <div class="widget HTML" data-version="1" id="HTML920">
            <div class="widget-content">
                <div class="title">
                    <a href="{{ path_for('blog', {'lang':lang, 'id':industry.industryId}) }}">{{ industry.title }}</a>
                    <div class="viewall"><a href="{{ path_for('blog', {'lang':lang, 'id':industry.industryId}) }}"><i aria-hidden="true" class="fa fa-list-ul"></i> {{ 'All News'|trans }}</a></div>
                </div>
                <div class="clear"></div>
                <ul id="label_with_thumbs">
                    {% for item in items %}
                        <li class="recent-box">
                            <div class="imageContainer">
                                <a href="{{ path_for('post', {'lang':lang, 'id':item.postId}) }}" target="_top">
                                    <img class="label_thumb" src="{{ path_for('image', {'image_name':item.file}, {'p':'bs1'}) }}" title="{{ item.title }}" alt="{{ item.title }}" style="width: auto; height: 100px; margin-left: -25.9091px; margin-top: 0px;">
                                </a>
                            </div>
                            <a class="label_title" href="{{ path_for('post', {'lang':lang, 'id':item.postId}) }}" target="_top">{{ item.title }}</a>
                            <div class="toe">
                                <a href="{{ path_for('post', {'lang':lang, 'id':item.postId}) }}" class="post-date">{{ item.createdAt|date("d.m.Y H:i:s") }}</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div></div>
    <div class="clear"></div>
</div>