<div class="mainblogsec section" id="mainblogsec">
    <div class="widget Blog" data-version="1" id="Blog1">
        <div class="title22"><a href="https://news16-templatemark.blogspot.com/search/label/">Recently Published</a></div>
        <div class="clear"></div>
        <div class="blog-posts hfeed">
            <!--Can't find substitution for tag [defaultAdStart]-->

            <div class="date-outer">
                <h2 class="date-header"><span>Monday, October 23, 2017</span></h2>
                <div class="date-posts">
                    <div class="post-outer">
                        <article class="post hentry">
                            <a content="https://1.bp.blogspot.com/-Y3jtko20nZA/We42YMNGo4I/AAAAAAAACvA/UEahaZNOpCcC_3llLMX40ARU9MRkCPNMQCLcBGAs/s1600/woman_593141_960_720.jpg"></a>
                            <div class="format-image hentry post-image post-format-image">
                                <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" title="New Form of Farming Revolutionizes the Way We Eat">
                                    <img alt="New Form of Farming Revolutionizes the Way We Eat" itemprop="image" src="/News16_files/woman_593141_960_720_003.jpg" style="width:250px; height:200px" title="New Form of Farming Revolutionizes the Way We Eat">
                                </a>
                            </div>
                            <h2 class="post-title entry-title">
                                <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" title="New Form of Farming Revolutionizes the Way We Eat">
                                    New Form of Farming Revolutionizes the Way We Eat
                                </a>
                            </h2>
                            <div class="post-info">
                                            <span class="author-info">
                                                <span class="vcard" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                                    <span class="fn">
                                                        by <a class="g-profile" href="https://www.blogger.com/profile/09280593907688002943" rel="author" title="author profile" data-onload="true" ><span itemprop="name">Muhammad Subel</span>
                                                        </a>
                                                    </span>
                                                </span>
                                            </span>
                                <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                <span class="time-info">     on <a class="timestamp-link" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" rel="bookmark" title="permanent link"><abbr class="published updated timeago" title="2017-10-23T11:35:00-07:00">October 23, 2017</abbr></a>
                                            </span>
                                <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                <span class="comment-info">
                                                <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html#comment-form" onclick="">
                                                    3 Comments
                                                </a>
                                            </span>
                            </div>
                            <div class="post-header">
                                <div class="post-header-line-1"></div>
                            </div>
                            <div class="post-body entry-content" id="post-body-8449873593006213023">
                                <div id="summary8449873593006213023"><div>
                                        By 2050, the world population will reach almost 10 billion people, at least 66 percent of whom will...</div></div>
                                <div class="share-post">
                                    <a class="readmore2" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html#more" title="New Form of Farming Revolutionizes the Way We Eat">{{ 'More info'|trans }} <i aria-hidden="true" class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </article>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="post-outer">
                        <article class="post hentry">
                            <a content="https://3.bp.blogspot.com/-kdk75lCKEpw/We41sftnIlI/AAAAAAAACu4/gBYBc4R23-M-G7J9Dv3LgGqTsC6FB82nQCLcBGAs/s1600/sunglasses_635269_96_xlKy3.jpg"></a>
                            <div class="format-image hentry post-image post-format-image">
                                <a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" title="Study Suggests Today’s US Students Are Less Efficient Readers">
                                    <img alt="Study Suggests Today’s US Students Are Less Efficient Readers" itemprop="image" src="/News16_files/sunglasses_635269_96_xlKy3_002.jpg" style="width:250px; height:200px" title="Study Suggests Today’s US Students Are Less Efficient Readers">
                                </a>
                            </div>
                            <h2 class="post-title entry-title">
                                <a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" title="Study Suggests Today’s US Students Are Less Efficient Readers">
                                    Study Suggests Today’s US Students Are Less Efficient Readers
                                </a>
                            </h2>
                            <div class="post-info">
                                            <span class="author-info">
                                                <span class="vcard" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                                    <span class="fn">
                                                        by <a class="g-profile" href="https://www.blogger.com/profile/09280593907688002943" rel="author" title="author profile"><span itemprop="name">Muhammad Subel</span>
                                                        </a>
                                                    </span>
                                                </span>
                                            </span>
                                <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                <span class="time-info">     on <a class="timestamp-link" href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" rel="bookmark" title="permanent link"><abbr class="published updated timeago" title="2017-10-23T11:33:00-07:00">October 23, 2017</abbr></a>
                                            </span>
                                <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                <span class="comment-info">
                                                <a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html#comment-form" onclick="">
                                                    2 Comments
                                                </a>
                                            </span>
                            </div>
                            <div class="post-header">
                                <div class="post-header-line-1"></div>
                            </div>
                            <div class="post-body entry-content" id="post-body-8050910231331378720">
                                <div id="summary8050910231331378720"><div>
                                        Do today’s students perform better than their peers in 1960? Given the advances in education and technology,...</div></div>
                                <div class="share-post">
                                    <a class="readmore2" href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html#more" title="Study Suggests Today’s US Students Are Less Efficient Readers">{{ 'More info'|trans }} <i aria-hidden="true" class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </article>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="post-outer">
                        <article class="post hentry">
                            <a content="https://1.bp.blogspot.com/-_e9zZwsXQVU/We41D5-OWQI/AAAAAAAACu0/2NsZhKFAIdAga4R5KZn23z-mlJW0j3zBQCLcBGAs/s1600/spring_2298279_960_7_0acWE.jpg"></a>
                            <div class="format-image hentry post-image post-format-image">
                                <a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" title="New Resources Critical for Stroke Recovery">
                                    <img alt="New Resources Critical for Stroke Recovery" itemprop="image" src="/News16_files/spring_2298279_960_7_0acWE_002.jpg" style="width:250px; height:200px" title="New Resources Critical for Stroke Recovery">
                                </a>
                            </div>
                            <h2 class="post-title entry-title">
                                <a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" title="New Resources Critical for Stroke Recovery">
                                    New Resources Critical for Stroke Recovery
                                </a>
                            </h2>
                            <div class="post-info">
                                            <span class="author-info">
                                                <span class="vcard" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                                    <span class="fn">
                                                        by <a class="g-profile" href="https://www.blogger.com/profile/09280593907688002943" rel="author" title="author profile"><span itemprop="name">Muhammad Subel</span>
                                                        </a>
                                                    </span>
                                                </span>
                                            </span>
                                <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                <span class="time-info">     on <a class="timestamp-link" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" rel="bookmark" title="permanent link"><abbr class="published updated timeago" title="2017-10-23T11:30:00-07:00">October 23, 2017</abbr></a>
                                            </span>
                                <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                <span class="comment-info">
                                                <a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html#comment-form" onclick="">
                                                    1 Comment
                                                </a>
                                            </span>
                            </div>
                            <div class="post-header">
                                <div class="post-header-line-1"></div>
                            </div>
                            <div class="post-body entry-content" id="post-body-269131455136988356">
                                <div id="summary269131455136988356"><div>
                                        The American Heart Association/American Stroke Association (AHA/ASA), the world’s leading voluntary...</div></div>
                                <div class="share-post">
                                    <a class="readmore2" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html#more" title="New Resources Critical for Stroke Recovery">{{ 'More info'|trans }} <i aria-hidden="true" class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </article>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="post-outer">
                        <article class="post hentry">
                            <a content="https://3.bp.blogspot.com/-F2lFBs-bodE/We40X7tzZdI/AAAAAAAACus/KdWH-jC-bn4flK6xEbmwQ9l-fM0TXdXKACLcBGAs/s1600/necklace_518268_960__CTVFi.jpg"></a>
                            <div class="format-image hentry post-image post-format-image">
                                <a href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" title="Fall in Love with Greater Fort Lauderdale">
                                    <img alt="Fall in Love with Greater Fort Lauderdale" itemprop="image" src="/News16_files/necklace_518268_960__CTVFi.jpg" style="width:250px; height:200px" title="Fall in Love with Greater Fort Lauderdale">
                                </a>
                            </div>
                            <h2 class="post-title entry-title">
                                <a href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" title="Fall in Love with Greater Fort Lauderdale">
                                    Fall in Love with Greater Fort Lauderdale
                                </a>
                            </h2>
                            <div class="post-info">
                                            <span class="author-info">
                                                <span class="vcard" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                                    <span class="fn">
                                                        by <a class="g-profile" href="https://www.blogger.com/profile/09280593907688002943" rel="author" title="author profile" ><span itemprop="name">Muhammad Subel</span>
                                                        </a>
                                                    </span>
                                                </span>
                                            </span>
                                <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                <span class="time-info">     on <a class="timestamp-link" href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" rel="bookmark" title="permanent link"><abbr class="published updated timeago" title="2017-10-23T11:27:00-07:00">October 23, 2017</abbr></a>
                                            </span>
                                <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                <span class="comment-info">
                                                <a href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html#comment-form" onclick="">
                                                    0 Comment
                                                </a>
                                            </span>
                            </div>
                            <div class="post-header">
                                <div class="post-header-line-1"></div>
                            </div>
                            <div class="post-body entry-content" id="post-body-342433724222900886">
                                <div id="summary342433724222900886"><div>
                                        Travelers may think of summer and beach activities when they think of Florida, but Greater Fort Lauderdale...</div></div>
                                <div class="share-post">
                                    <a class="readmore2" href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html#more" title="Fall in Love with Greater Fort Lauderdale">{{ 'More info'|trans }} <i aria-hidden="true" class="fa fa-long-arrow-right"></i></a>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </article>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
            <!--Can't find substitution for tag [adEnd]-->
        </div>
        <div style="clear: both;"></div>
        <div class="blog-pager" id="blog-pager">
            <span id="blog-pager-older-link">
                <a class="blog-pager-older-link" href="https://news16-templatemark.blogspot.com/search?updated-max=2017-10-23T11:27:00-07:00&amp;max-results=4" id="Blog1_blog-pager-older-link" title="Older Posts">Older Posts&nbsp;→</a>
            </span>
            <a class="home-link" href="{{ path_for('home', {'lang':lang}) }}">Home</a>
        </div>
        <div class="clear"></div>
    </div>
</div>