<div class="widget HTML" data-version="1" id="HTML55">
    <h2 class="title">{{ 'Latest Posts'|trans }}</h2>
    <div class="widget-content">
        <div id="recent-posts">
            <ul>
                {% for item in recent_posts.items %}
                    <li>
                        <img src="{{ path_for('image', {'image_name':item.file}, {'p':'rp'}) }}" title="{{ item.title }}" alt="{{ item.title }}">
                        <div>
                            <a href="{{ path_for('post', {'lang':lang, 'id':item.postId}) }}" rel="nofollow" title="{{ item.text|striptags|truncate(30, true) }}">{{ item.title }}</a>
                        </div>
                        <span>{{ item.createdAt|date("d.m.Y H:i:s") }}</span>
                        <div style="clear:both"></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="clear"></div>
</div>