{% extends 'backend_layout.twig' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{{ page.title }}</h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-6">
                <div class="box box-primary">
                    <div class="box-body">
                        <form id="updateForm" method="POST" enctype="multipart/form-data" data-toggle="validator" action="{{ currentUrl }}">
                            {% if item is defined %}
                                <input type="hidden" name="_METHOD" value="PUT" />
                            {% endif %}

                            <div class="collapse in" id="collapsible">
                                <div class="form-group">
                                    <label for="type">{{ 'Type'|trans }} <span class="text-red">*</span></label>
                                    <select id="type" name="type" class="form-control select2" required="" {{ (item is defined)?'readonly=""':'' }} data-error="{{ 'Select a type'|trans }}">
                                        <option value="" selected disabled>{{ 'Select a type'|trans }}</option>
                                        {% for type, title in types %}
                                            <option value="{{ type }}" {{ (type == item.type|default('')) ? 'selected' }}>{{ title }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="collapse in" id="collapsible">
                                <div class="form-group">
                                    <label for="clientId">{{ 'Client'|trans }} <span class="text-red">*</span></label>
                                    <select id="clientId" name="clientId" class="form-control select2" required="" data-error="{{ 'Select a client'|trans }}">
                                        <option value="" selected disabled>{{ 'Select a client'|trans }}</option>
                                        {% for client in bannersClients %}
                                            <option value="{{ client.clientId }}" {{ (client.clientId == item.clientId|default('')) ? 'selected' }}>{{ client.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class='col-md-6'>
                                    <div class="form-group">
                                        <label for="start">{{ 'Start'|trans }} <span class="text-red">*</span></label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" id="startDT" name="start" class="form-control pull-right datetimepicker" required="" readonly="" value="{{ item.start|default('')|date("d.m.Y") }}" pattern="^\d\d\.\d\d\.\d\d\d\d$" data-error="{{ 'Invalid value'|trans }}" style="background-color: #ffffff;">
                                        </div>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class='col-md-6'>
                                    <div class="form-group">
                                        <label for="stop">{{ 'Stop'|trans }} <span class="text-red">*</span></label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" id="stopDT" name="stop" class="form-control pull-right datetimepicker" required="" readonly="" value="{{ item.stop|default('')|date("d.m.Y") }}" pattern="^\d\d\.\d\d\.\d\d\d\d$" data-error="{{ 'Invalid value'|trans }}" style="background-color: #ffffff;">
                                        </div>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="title">{{ 'Title'|trans }} </label>
                                <input id="title" name="title" class="form-control" placeholder="{{ 'Title'|trans }}" value="{{ item.title|default('') }}" type="text" data-error="{{ 'Invalid value'|trans }}">
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group has-feedback">
                                <label for="url">URL <span class="text-red">*</span></label>
                                <input id="url" name="url" class="form-control" placeholder="URL" type="url" value="{{ item.url|default('') }}" required="" data-error="{{ 'Invalid url'|trans }}">
                                <span class="glyphicon glyphicon-globe form-control-feedback"></span>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <label for="my_file">{{ 'Picture'|trans }} (.jpg,.jpeg,.png,.gif) <span class="text-red">*</span></label>
                                <input id="my_file" name="my_file[]" type="file" multiple accept=".jpg,.jpeg,.png,.gif">
                            </div>
                        </form>
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            {% if item.status|default('') is same as('0') %}
                                {% if 'update' in actions %}
                                    <button class="btn btn-success" type="submit" form="updateForm">{{ 'Moderate'|trans }}</button>
                                {% endif %}
                                <a class="btn btn-default pull-right" href="{{ path_for(indexRoute~'_moderate', {'lang': lang}) }}">{{ 'Cancel'|trans }}</a>
                            {% else %}
                                {% if 'update' in actions %}
                                    <button class="btn btn-primary" type="submit" form="updateForm">{{ 'Submit'|trans }}</button>
                                {% endif %}
                                <a class="btn btn-default pull-right" href="{{ path_for(indexRoute, {'lang': lang}) }}">{{ 'Cancel'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block head %}
    {{ parent() }}

    <link type="text/css" rel="stylesheet" href="/assets/select2/dist/css/select2.min.css?ver={{ version }}">
    <link type="text/css" rel="stylesheet" href="/assets/select2-bootstrap-theme-dist/dist/select2-bootstrap.min.css?ver={{ version }}">

    <link type="text/css" rel="stylesheet" href="/assets/adminlte/plugins/ckeditor/skins/moono/editor_gecko.css?t=H5SE&ver={{ version }}">
    <link type="text/css" rel="stylesheet" href="/assets/adminlte/plugins/ckeditor/skins/moono/dialog.css?t=H5SE&ver={{ version }}">

    <link type="text/css" rel="stylesheet" href="/assets/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css?ver={{ version }}">

    <link type="text/css" rel="stylesheet" href="/assets/bootstrap-fileinput/css/fileinput.min.css?ver={{ version }}" media="all" >
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="/assets/select2/dist/js/select2.min.js?ver={{ version }}"></script>
    <script src="/assets/select2/dist/js/i18n/{{ lang }}.js?ver={{ version }}"></script>

    <script src="/assets/moment/min/moment-with-locales.min.js?ver={{ version }}"></script>
    <script src="/assets/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js?ver={{ version }}"></script>

    <!-- piexif.min.js is only needed if you wish to resize images before upload to restore exif data.
     This must be loaded before fileinput.min.js -->
    <script src="/assets/bootstrap-fileinput/js/plugins/piexif.min.js?ver={{ version }}" type="text/javascript"></script>
    <!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
         This must be loaded before fileinput.min.js -->
    <script src="/assets/bootstrap-fileinput/js/plugins/sortable.min.js?ver={{ version }}" type="text/javascript"></script>
    <!-- purify.min.js is only needed if you wish to purify HTML content in your preview for HTML files.
         This must be loaded before fileinput.min.js -->
    <script src="/assets/bootstrap-fileinput/js/plugins/purify.min.js?ver={{ version }}" type="text/javascript"></script>
    <!-- the main fileinput plugin file -->
    <script src="/assets/bootstrap-fileinput/js/fileinput.min.js?ver={{ version }}"></script>
    <!-- optionally if you need a theme like font awesome theme you can include it as mentioned below -->
    <script src="/assets/bootstrap-fileinput/themes/fa/theme.js?ver={{ version }}"></script>
    <!-- optionally if you need translation for your language then include locale file as mentioned below -->
    {% if lang != 'en' %}
        <script src="/assets/bootstrap-fileinput/js/locales/{{ lang }}.js?ver={{ version }}"></script>
    {% endif %}


    <script src="/assets/bootstrap-validator/dist/validator.min.js?ver={{ version }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#type').select2({ theme: "bootstrap", width: '100%', placeholder: "{{ 'Select a type'|trans }}" });
            $('#clientId').select2({ theme: "bootstrap", width: '100%', placeholder: "{{ 'Select a client'|trans }}" });

            $('#startDT').datetimepicker({
                format: 'DD.MM.YYYY',
                locale: '{{ lang }}',
                minDate: new Date(),
                sideBySide: true,
                ignoreReadonly: true,
                showClear: true,
            });
            $('#stopDT').datetimepicker({
                format: 'DD.MM.YYYY',
                locale: '{{ lang }}',
                minDate: new Date(),
                sideBySide: true,
                ignoreReadonly: true,
                showClear: true,

                useCurrent: false //Important! See issue #1075
            });
            $("#startDT").on("dp.change", function (e) {
                $('#stopDT').data("DateTimePicker").minDate(e.date);
            });
            $("#stopDT").on("dp.change", function (e) {
                $('#startDT').data("DateTimePicker").maxDate(e.date);
            });




            var fileinput = $("#my_file").fileinput({
                language: "{{ lang }}",

		        showUpload:                 false,
		        showCaption:                true,
		        showClose:                  false,
		        showRemove:                 false,
		        overwriteInitial:           true,
		        maxFileCount:               1,
		        previewFileType:            'image',
		        allowedFileExtensions:      ['jpg', 'jpeg', 'png', 'gif'],

		        validateInitialCount: true,

		        initialCaption: "Image",

                {% if item is defined %}
                    initialPreview: [
                        '{{ base_url() }}/uploads/banners/{{ item.file }}',
                    ],
                    initialPreviewAsData: true,
                {% endif %}
	        });
        });
    </script>

{% endblock %}