{% extends 'backend_layout.twig' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{{ page.title }}</h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <div class="box box-primary">
                    <div class="box-body">
                        <form id="updateForm" method="POST" enctype="multipart/form-data" data-toggle="validator" action="{{ currentUrl }}">
                            {% if item is defined %}
                                <input type="hidden" name="_METHOD" value="PUT" />
                            {% endif %}

                            <div class="form-group">
                                <label for="onMain">{{ 'Show on MainPage'|trans }} <span class="text-red">*</span></label>
                                <select id="onMain" name="onMain" class="form-control select2" >
                                    {% for key, title in {0:'Hide', 1:'Show'} %}
                                        <option value="{{ key }}" {{ (key == item.onMain|default('0')) ? 'selected' }}>{{ title|trans }}</option>
                                    {% endfor %}
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>

                            <br>
                            <div class="nav-tabs-custom" style="border: solid #d2d6de 1px">
                                <ul class="nav nav-tabs" >
                                    {% for lang in langs %}
                                        <li {{ loop.first ? 'class="active"' }}><a data-toggle="tab" href="#tab_{{ lang }}">{{ lang|upper }}</a></li>
                                    {% endfor %}
                                </ul>
                                <div class="tab-content">
                                    {% for lang in langs %}
                                        <div id="tab_{{ lang }}" class="tab-pane {{ loop.first ? 'in active' }}">
                                            <input type="hidden" name="{{ lang }}[langId]" value="{{ item_langs[lang].langId|default('') }}" />

                                            <div class="form-group">
                                                <label for="title">{{ 'Title'|trans }} <span class="text-red">*</span></label>
                                                <input id="title_{{ lang }}" name="{{ lang }}[title]" class="form-control" placeholder="{{ 'Title'|trans }}" value="{{ item_langs[lang].title|default('') }}" required="" type="text" data-error="{{ 'Invalid value'|trans }}">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            {% if 'update' in actions %}
                                <button class="btn btn-primary" type="submit" form="updateForm">{{ 'Submit'|trans }}</button>
                            {% endif %}
                            <a class="btn btn-default pull-right" href="{{ path_for(indexRoute, {'lang': lang}) }}">{{ 'Cancel'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ base_url() }}/assets/bootstrap-validator/dist/validator.min.js?ver={{ version }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){

        });
    </script>

{% endblock %}