{% extends 'Frontend/page.twig' %}



{% block content %}
    <div class="content-area" id="primarybwrap">
        <div class="bwrapsite-main" id="mainbwrap" role="main">
            <div class="post-outer">
                <article class="post hentry">
                    <h1 class="post-title entry-title">{{ pageTitle }}</h1>
                    <div class="post-body entry-content">

                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <form id="updateForm" method="POST" enctype="multipart/form-data" action="{{ currentUrl }}">
                                            <input type="hidden" name="_METHOD" value="PUT" />

                                            <div class="form-group">
                                                <label for="name">{{ 'Name'|trans }} <span class="text-red">*</span></label>
                                                <input id="name" name="name" class="form-control" placeholder="{{ 'Name'|trans }}" value="{{ item.name|default('') }}" required="" type="text" data-error="{{ 'Invalid value'|trans }}">
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group has-feedback">
                                                <label for="email">Email <span class="text-red">*</span></label>
                                                <input id="email" name="email" class="form-control" placeholder="Email" required="" type="email" value="{{ item.email|default('') }}" data-error="{{ 'Invalid email'|trans }}">
                                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group">
                                                <label for="city">{{ 'City'|trans }}</label>
                                                <select id="city" name="city" class="form-control select2" data-error="{{ 'Select a city'|trans }}">
                                                    <option value="" {{ (item.city|default('') == '') ? 'selected' }} disabled>{{ 'Select a city'|trans }}</option>
                                                    {% for city in cities %}
                                                        <option value="{{ city.cityId }}" {{ (city.cityId == item.city|default('')) ? 'selected' }}>{{ city.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <div class="form-group has-feedback">
                                                <label for="phone">{{ 'Phone'|trans }}</label>
                                                <input id="phone" name="phone" class="form-control" placeholder="{{ 'Phone'|trans }}" type="text" value="{{ item.phone|default('') }}" data-error="{{ 'Invalid value'|trans }}">
                                                <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
                                                <div class="help-block with-errors"></div>
                                            </div>



                                            <div class="form-group has-feedback">
                                                <label for="site">{{ 'Site'|trans }}</label>
                                                <input id="site" name="site" class="form-control" placeholder="{{ 'Site'|trans }}" type="url" value="{{ item.site|default('') }}" data-error="{{ 'Invalid url'|trans }}">
                                                <span class="glyphicon glyphicon-globe form-control-feedback"></span>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label for="facebook">{{'Facebook'|trans}}</label>
                                                <input id="facebook" name="facebook" class="form-control" placeholder="{{ 'Facebook'|trans }}" type="url" value="{{ item.facebook|default('') }}" data-error="{{ 'Invalid url'|trans }}">
                                                <span class="form-control-feedback fa fa-facebook" ></span>
                                                <div class="help-block with-errors"></div>
                                            </div>

                                            <hr>

                                            <div class="form-group has-feedback">
                                                <label for="inputPassword">{{ 'New password'|trans }}</label>
                                                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="{{ 'New password'|trans }}" data-minlength="6"  >
                                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                                <div class="help-block with-errors">{{ 'Minimum of 6 characters'|trans }}</div>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" id="passwordConfirm" placeholder="{{ 'Confirm password'|trans }}" data-minlength="6" data-match="#inputPassword" data-error="{{ 'Password don\'t match'|trans }}" >
                                                <div class="help-block with-errors"></div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="box-footer">
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit" form="updateForm">{{ 'Submit'|trans }}</button>
                                            <a class="btn btn-default pull-right" href="{{ path_for('member_dashboard', {'lang': lang}) }}">{{ 'Cancel'|trans }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block head %}
    {{ parent() }}

    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/assets/select2/dist/css/select2.min.css?ver={{ version }}">
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/assets/select2-bootstrap-theme-dist/dist/select2-bootstrap.min.css?ver={{ version }}">

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ base_url() }}/assets/select2/dist/js/select2.min.js?ver={{ version }}"></script>
    <script src="{{ base_url() }}/assets/select2/dist/js/i18n/{{ lang }}.js?ver={{ version }}"></script>

    <script src="{{ base_url() }}/assets/inputmask/dist/min/jquery.inputmask.bundle.min.js?ver={{ version }}"></script>

    <script src="{{ base_url() }}/assets/bootstrap-validator/dist/validator.min.js?ver={{ version }}"></script>

    <script type="text/javascript">
        function addContact() {
            var elem = $('.fields-to-add').first().clone();

            elem.find('a').show();
            elem.find('input').val('');

            $('.fields-to-add').last().after(elem);

            //$('input[name="contact_phone[]"]').inputmask();

            $('#updateForm').validator('update');
        }
        function removeContact(selector) {
            $(selector).closest('.fields-to-add').remove();

            $('#updateForm').validator('update');
        }

        $(document).ready(function(){
            $('#inputPassword').keyup(function(event){
                if($(this).val().length > 0){
                    $('#passwordConfirm').prop('required', true);
                }else{
                    $('#passwordConfirm').prop('required', false);
                }
                $('#updateForm').validator('update');
            });

            $('#city').select2({
                placeholder: "{{ 'Select a city'|trans }}",
                theme: "bootstrap",
                width: '100%',
            });

            $('#industry').select2({
                placeholder: "{{ 'Select an industry'|trans }}",
                theme: "bootstrap",
                width: '100%',
                tags: true,
            });
            $('#contact').select2({
                placeholder: "{{ 'Select a contact'|trans }}",
                theme: "bootstrap",
                width: '100%',
            });


            //$('#phone').inputmask();
            //$('input[name="contact_phone[]"]').inputmask();

            $('#updateForm').validator('update');
        });
    </script>

{% endblock %}