{% extends 'backend_layout.twig' %}



{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{{ pageTitle }}</h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <div class="box box-primary">
                    <div class="box-body">
                        <form id="myForm" method="POST" action="{{ currentUrl }}" data-toggle="validator">
                            <div class="form-group">
                                <textarea id="text" name="text" class="form-control" placeholder="{{ 'Write a massage'|trans }}" rows="10" required="" data-error="{{ 'Write a massage'|trans }}"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" form="myForm">{{ 'Submit'|trans }}</button>
                            <a class="btn btn-default pull-right" href="{{ path_for('member_dashboard', {'lang': lang}) }}">{{ 'Cancel'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ base_url() }}/assets/bootstrap-validator/dist/validator.min.js?ver={{ version }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){

        });
    </script>

{% endblock %}