<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page_title|default('site_name'|trans) }}</title>
    </head>
    <body>
        <p>{{ 'Hello'|trans }}</p>
        <p>{{ 'Your new password is'|trans }}: <strong>{{ password }}</strong></p>
        <p>{{ 'Best regards'|trans }}, <a href="{{ base_url() }}{{ path_for('home', {'lang': lang}) }}">{{ 'site_name'|trans }}</a></p>
    </body>
</html>