<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page_title|default('site_name'|trans) }}</title>
    </head>
    <body>
        <h3>{{ 'New tenders'|trans }}</h3>
        <br>
        <p>
            {{ 'Tender'|trans }}:
            <a href="{{ base_url() }}{{ path_for('tenders_get', {'lang': lang, 'id': id}) }}">{{ name }}</a>
        </p>
        <br>
        <p>{{ 'Description'|trans }}: {{ description }}</p>
    </body>
</html>