{% extends 'frontend_layout.twig' %}

{% block content %}
    <div class="content-lg container margin-t-40">
        <div class="blog-header">
            <h2 class="blog-title">{{ title }}</h2>
            <div class="lead blog-description">
                {{ text|raw }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 blog-main">
                {% if items is defined %}
                    {% for item in items %}
                        <div class="blog-post">
                            <h2 class="blog-post-title">{{ item.title }}</h2>
                            <p class="blog-post-meta">
                                {{ item.createdAt }}
                                <a href="#">{{ item.name }}</a>
                            </p>
                            {{ item.text|raw }}
                        </div>
                    {% endfor %}
                {% endif %}

                {{ pagination|raw }}
            </div>
        </div>
    </div>
{% endblock %}