{% extends 'frontend_layout.twig' %}

{% block content %}
    {#
    <!--========== SLIDER ==========-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="container">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            </ol>
        </div>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="img-responsive" src="{{ base_url() }}/resources/img/1920x1080/01.jpg" alt="Slider Image">
                <div class="container">
                    <div class="carousel-centered">
                        <a href="{{ path_for('login',    {'lang': lang}) }}" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">{{ 'Sign in'|trans }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ path_for('register', {'lang': lang}) }}" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">{{ 'Sign up'|trans }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ path_for('why_reg',  {'lang': lang}) }}" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">{{ 'Why?'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--========== SLIDER ==========-->

    <!--========== PAGE LAYOUT ==========-->
    {{ about_tpl|raw }}
    {{ partners_tpl|raw }}
    {{ service_tpl|raw }}
    {{ contact_tpl|raw }}
    <!--========== END PAGE LAYOUT ==========-->
    #}









    {#
<div class="featuredposts" id="featuredposts">
    <div class="first-tmb section" id="first-tmb">
        <div class="widget HTML" data-version="1" id="HTML102">
            <div class="layout-content">
                <ul>
                    <li>
                        <a href="https://news16-templatemark.blogspot.com/search/label/Advertisement" class="post-tag">Advertisement</a>
                        <a class="arl-tmb" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" style="background:url(https://1.bp.blogspot.com/-Y3jtko20nZA/We42YMNGo4I/AAAAAAAACvA/UEahaZNOpCcC_3llLMX40ARU9MRkCPNMQCLcBGAs/s1600/woman_593141_960_720.jpg) no-repeat center center;background-size: cover"></a>
                        <div class="post-panel">
                            <h3 class="rcp-title">
                                <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html">New Form of Farming Revolutionizes the Way We Eat</a>
                            </h3>
                            <span class="recent-date">2017-10-23</span>
                            <span class="recent-author">Muhammad Subel</span>
                        </div>
                    </li>
                    <li>
                        <a href="https://news16-templatemark.blogspot.com/search/label/Advertisement" class="post-tag">Advertisement</a>
                        <a class="arl-tmb" href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" style="background:url(https://3.bp.blogspot.com/-kdk75lCKEpw/We41sftnIlI/AAAAAAAACu4/gBYBc4R23-M-G7J9Dv3LgGqTsC6FB82nQCLcBGAs/s1600/sunglasses_635269_96_xlKy3.jpg) no-repeat center center;background-size: cover"></a>
                        <div class="post-panel">
                            <h3 class="rcp-title">
                                <a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html">Study Suggests Today’s US Students Are Less Efficient Readers</a>
                            </h3>
                            <span class="recent-date">2017-10-23</span>
                            <span class="recent-author">Muhammad Subel</span>
                        </div>
                    </li>
                    <li>
                        <a href="https://news16-templatemark.blogspot.com/search/label/Advertisement" class="post-tag">Advertisement</a>
                        <a class="arl-tmb" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" style="background:url(https://1.bp.blogspot.com/-_e9zZwsXQVU/We41D5-OWQI/AAAAAAAACu0/2NsZhKFAIdAga4R5KZn23z-mlJW0j3zBQCLcBGAs/s1600/spring_2298279_960_7_0acWE.jpg) no-repeat center center;background-size: cover"></a>
                        <div class="post-panel">
                            <h3 class="rcp-title">
                                <a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html">New Resources Critical for Stroke Recovery</a>
                            </h3>
                            <span class="recent-date">2017-10-23</span>
                            <span class="recent-author">Muhammad Subel</span>
                        </div>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</div>
#}

    <div class="content-area" id="primarybwrap">
        <div class="bwrapsite-main" id="mainbwrap" role="main">
            <div class="mag-wrapper">
                <div class="mag section section" id="magstyle4"><div class="widget HTML" data-version="1" id="HTML920">
                        <div class="widget-content">
                            <div class="title">
                                <a href="https://news16-templatemark.blogspot.com/search/label/News">Trending News</a>
                                <div class="viewall"><a href="https://news16-templatemark.blogspot.com/search/label/News">All News</a></div>
                            </div>
                            <div class="clear"></div>
                            <ul id="label_with_thumbs">
                                <li class="recent-box">
                                    <div class="imageContainer">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" target="_top">
                                            <img class="label_thumb" src="/News16_files/woman_593141_960_720_003.jpg" title="New Form of Farming Revolutionizes the Way We Eat" alt="New Form of Farming Revolutionizes the Way We Eat" style="width: auto; height: 100px; margin-left: -25.9091px; margin-top: 0px;">
                                        </a>
                                    </div>
                                    <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" target="_top">New Form of Farming Revolutionizes the Way We Eat</a>
                                    <div class="toe">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" class="post-date">23 Oct 2017</a>
                                        <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html#comment-form" target="_top">3 Comments</a>
                                    </div>
                                    <p class="post-summary">By
                                        2050, the world population will reach almost 10 billion people, at
                                        least 66 percent of whom will live in urban areas.Water-scarcity issues
                                        are rampant and...
                                    </p>
                                </li>
                                <li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_top"><img class="label_thumb" src="/News16_files/spring_2298279_960_7_0acWE_002.jpg" title="New Resources Critical for Stroke Recovery" alt="New Resources Critical for Stroke Recovery" style="width: auto; height: 100px; margin-left: -25.9091px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_top">New Resources Critical for Stroke Recovery</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html#comment-form" target="_top">1 Comment</a></div><p class="post-summary">The
                                        American Heart Association/American Stroke Association (AHA/ASA), the
                                        world’s leading voluntary organization dedicated to building healthier
                                        lives, free of...</p>
                                </li>
                                <li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html" target="_top"><img class="label_thumb" src="/News16_files/laugh_536287_960_720_002.jpg" title="Football Helmet Safety in Three Simple Steps" alt="Football Helmet Safety in Three Simple Steps" style="width: auto; height: 100px; margin-left: -25.9091px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html" target="_top">Football Helmet Safety in Three Simple Steps</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html#comment-form" target="_top">No Comments</a></div><p class="post-summary">As
                                        the high school and college football seasons heat up, the National
                                        Operating Committee on Standards for Athletic Equipment (NOCSAE) is
                                        encouraging parents,...</p>
                                </li>
                                <li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" target="_top"><img class="label_thumb" src="/News16_files/girl_97433_960_720_002.jpg" title="Help for Homeowners On the Hook for Billions in Hurricane Damages" alt="Help for Homeowners On the Hook for Billions in Hurricane Damages" style="width: auto; height: 100px; margin-left: -25.9091px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" target="_top">Help for Homeowners On the Hook for Billions in Hurricane Damages</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html#comment-form" target="_top">No Comments</a></div><p class="post-summary">And
                                        now comes the arduous task of rebuilding hundreds of thousands of
                                        houses destroyed or damaged by Hurricanes Harvey and Irma.And with it,
                                        alas, the...</p>
                                </li>
                                <li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" target="_top"><img class="label_thumb" src="/News16_files/blue_2705642_960_720.jpg" title="5 Mistakes to Avoid When Choosing a Medicare Advantage Plan" alt="5 Mistakes to Avoid When Choosing a Medicare Advantage Plan" style="width: auto; height: 100px; margin-left: -25.9091px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" target="_top">5 Mistakes to Avoid When Choosing a Medicare Advantage Plan</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html#comment-form" target="_top">No Comments</a></div><p class="post-summary">The
                                        Medicare Annual Election Period takes place this fall from Oct. 15
                                        through Dec. 7. It’s a time for people with Medicare to make important
                                        decisions about...</p>
                                </li>
                                <li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/medical-device-protects-doctors-nurses.html" target="_top"><img class="label_thumb" src="/News16_files/beautiful_1274056_96_Gen40.jpg" title="Medical Device Protects Doctors, Nurses from Pathogens" alt="Medical Device Protects Doctors, Nurses from Pathogens" style="width: auto; height: 100px; margin-left: -25.9091px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/medical-device-protects-doctors-nurses.html" target="_top">Medical Device Protects Doctors, Nurses from Pathogens</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/medical-device-protects-doctors-nurses.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/medical-device-protects-doctors-nurses.html#comment-form" target="_top">No Comments</a></div><p class="post-summary">Every
                                        time a patient has surgery or any other procedures at a hospital, the
                                        hospital faces the challenge of disposing of all the blood, urine, and
                                        other fluids...</p>
                                </li>
                            </ul>
                        </div>
                    </div></div>
                <div class="clear"></div>
            </div>

            {#
            <div class="mag-wrapper">
                <div id="magstyle">
                    <div class="magstylo">
                        <div class="mag section  section" id="magstyle1"><div class="widget HTML" data-version="1" id="HTML800">
                                <div class="widget-content">
                                    <div class="title"><span></span><a href="https://news16-templatemark.blogspot.com/search/label/Facebook">Content Marketing</a><div class="viewall"><a href="https://news16-templatemark.blogspot.com/search/label/Facebook"><i aria-hidden="true" class="fa fa-list-ul"></i> All News</a></div></div>
                                    <div class="clear"></div>
                                    <ul id="label_with_thumbs"><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" target="_top"><img class="label_thumb" src="/News16_files/woman_593141_960_720_003.jpg" title="New Form of Farming Revolutionizes the Way We Eat" alt="New Form of Farming Revolutionizes the Way We Eat" style="width: auto; height: 200px; margin-left: -23.3182px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" target="_top">New Form of Farming Revolutionizes the Way We Eat</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html#comment-form" target="_top">3 Comments</a></div><p class="post-summary">By 2050, the world population will reach almost 10 billion people, at least 66 percent of whom will...</p></li><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" target="_top"><img class="label_thumb" src="/News16_files/sunglasses_635269_96_xlKy3_002.jpg" title="Study Suggests Today’s US Students Are Less Efficient Readers" alt="Study Suggests Today’s US Students Are Less Efficient Readers" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" target="_top">Study Suggests Today’s US Students Are Less Efficient Readers</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html#comment-form" target="_top">2 Comments</a></div><p class="post-summary">Do today’s students perform better than their peers in 1960? Given the advances in education and...</p></li><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_top"><img class="label_thumb" src="/News16_files/spring_2298279_960_7_0acWE_002.jpg" title="New Resources Critical for Stroke Recovery" alt="New Resources Critical for Stroke Recovery" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_top">New Resources Critical for Stroke Recovery</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html#comment-form" target="_top">1 Comment</a></div><p class="post-summary">The American Heart Association/American Stroke Association (AHA/ASA), the world’s leading voluntary...</p></li></ul>
                                </div>
                            </div></div>
                    </div>
                    <div class="magstylo">
                        <div class="mag section section" id="magstyle2"><div class="widget HTML" data-version="1" id="HTML801">
                                <div class="widget-content">
                                    <div class="title"><span></span><a href="https://news16-templatemark.blogspot.com/search/label/Technology">Technology</a><div class="viewall"><a href="https://news16-templatemark.blogspot.com/search/label/Technology"><i aria-hidden="true" class="fa fa-list-ul"></i> All News</a></div></div>
                                    <div class="clear"></div>
                                    <ul id="label_with_thumbs"><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" target="_top"><img class="label_thumb" src="/News16_files/sunglasses_635269_96_xlKy3_002.jpg" title="Study Suggests Today’s US Students Are Less Efficient Readers" alt="Study Suggests Today’s US Students Are Less Efficient Readers" style="width: auto; height: 200px; margin-left: -23.3182px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" target="_top">Study Suggests Today’s US Students Are Less Efficient Readers</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html#comment-form" target="_top">2 Comments</a></div><p class="post-summary">Do today’s students perform better than their peers in 1960? Given the advances in education and...</p></li><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" target="_top"><img class="label_thumb" src="/News16_files/necklace_518268_960__CTVFi.jpg" title="Fall in Love with Greater Fort Lauderdale" alt="Fall in Love with Greater Fort Lauderdale" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" target="_top">Fall in Love with Greater Fort Lauderdale</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html#comment-form" target="_top">No Comments</a></div><p class="post-summary">Travelers may think of summer and beach activities when they think of Florida, but Greater Fort...</p></li><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html" target="_top"><img class="label_thumb" src="/News16_files/kid_1241817_960_720_002.jpg" title="Outdoor Living – Bringing the Inside Out" alt="Outdoor Living – Bringing the Inside Out" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html" target="_top">Outdoor Living – Bringing the Inside Out</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html#comment-form" target="_top">No Comments</a></div><p class="post-summary">Enjoying your outside space does not have to take place on a dimly lit patio with moderately...</p></li></ul>
                                </div>
                            </div></div>
                    </div>
                </div>
            </div>
            #}
            <div class="animated fadeInUp section" id="adpost"><div class="widget HTML" data-version="1" id="HTML6">
                    <div class="post-ad">
                        <div class="widget-content">
                            <img alt="Ad 728x90" data-original-height="90" data-original-width="728" src="/News16_files/728.png" title="Ad 728x90" border="0">
                        </div>
                    </div>
                </div></div>
            <div class="clear"></div>

            {#
            <div class="mag-wrapper">
                <div class="mag section section" id="magstyle44"><div class="widget HTML" data-version="1" id="HTML921">
                        <div class="widget-content">
                            <div class="title"><span></span><a href="https://news16-templatemark.blogspot.com/search/label/Facebook">Worlds News</a><div class="viewall"><a href="https://news16-templatemark.blogspot.com/search/label/Facebook"><i aria-hidden="true" class="fa fa-list-ul"></i> All News</a></div></div>
                            <div class="clear"></div>
                            <ul id="label_with_thumbs">
                                <li class="recent-box">
                                    <div class="imageContainer">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" target="_top">
                                            <img class="label_thumb" src="/News16_files/woman_593141_960_720_003.jpg" title="New Form of Farming Revolutionizes the Way We Eat" alt="New Form of Farming Revolutionizes the Way We Eat" style="width: auto; height: 200px; margin-left: -22.3182px; margin-top: 0px;">
                                        </a>
                                    </div>
                                    <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" target="_top">New Form of Farming Revolutionizes the Way We Eat</a>
                                    <div class="toe">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" class="post-date">23 Oct 2017</a>
                                        <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html#comment-form" target="_top">3 Comments</a>
                                    </div>
                                    <p class="post-summary">By 2050, the world population will reach almost 10 billion people, at least 66 percent of whom will live in urban...</p>
                                </li>
                                <li class="recent-box">
                                    <div class="imageContainer">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" target="_top">
                                            <img class="label_thumb" src="/News16_files/sunglasses_635269_96_xlKy3_002.jpg" title="Study Suggests Today’s US Students Are Less Efficient Readers" alt="Study Suggests Today’s US Students Are Less Efficient Readers" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;">
                                        </a>
                                    </div>
                                    <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" target="_top">Study Suggests Today’s US Students Are Less Efficient Readers</a>
                                    <div class="toe">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" class="post-date">23 Oct 2017</a>
                                        <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html#comment-form" target="_top">2 Comments</a>
                                    </div>
                                    <p class="post-summary">Do
                                        today’s students perform better than their peers in 1960? Given the
                                        advances in education and technology, it would be natural...</p>
                                </li>
                                <li class="recent-box">
                                    <div class="imageContainer">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_top">
                                            <img class="label_thumb" src="/News16_files/spring_2298279_960_7_0acWE_002.jpg" title="New Resources Critical for Stroke Recovery" alt="New Resources Critical for Stroke Recovery" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;">
                                        </a>
                                    </div>
                                    <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_top">New Resources Critical for Stroke Recovery</a>
                                    <div class="toe">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" class="post-date">23 Oct 2017</a>
                                        <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html#comment-form" target="_top">1 Comment</a>
                                    </div>
                                    <p class="post-summary">The American Heart Association/American Stroke Association (AHA/ASA), the world’s leading voluntary organization dedicated to...</p>
                                </li>
                                <li class="recent-box">
                                    <div class="imageContainer">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" target="_top">
                                            <img class="label_thumb" src="/News16_files/necklace_518268_960__CTVFi.jpg" title="Fall in Love with Greater Fort Lauderdale" alt="Fall in Love with Greater Fort Lauderdale" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;">
                                        </a>
                                    </div>
                                    <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" target="_top">Fall in Love with Greater Fort Lauderdale</a>
                                    <div class="toe">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" class="post-date">23 Oct 2017</a>
                                        <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html#comment-form" target="_top">No Comments</a>
                                    </div>
                                    <p class="post-summary">Travelers may think of summer and beach activities when they think of Florida, but Greater Fort Lauderdale takes its relaxing...</p>
                                </li>
                                <li class="recent-box">
                                    <div class="imageContainer">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html" target="_top">
                                            <img class="label_thumb" src="/News16_files/laugh_536287_960_720_002.jpg" title="Football Helmet Safety in Three Simple Steps" alt="Football Helmet Safety in Three Simple Steps" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;">
                                        </a>
                                    </div>
                                    <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html" target="_top">Football Helmet Safety in Three Simple Steps</a>
                                    <div class="toe">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html" class="post-date">23 Oct 2017</a>
                                        <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/football-helmet-safety-in-three-simple.html#comment-form" target="_top">No Comments</a>
                                    </div>
                                    <p class="post-summary">As the high school and college football seasons heat up, the National Operating Committee on Standards for Athletic Equipment...</p>
                                </li>
                                <li class="recent-box">
                                    <div class="imageContainer">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html" target="_top"><img class="label_thumb" src="/News16_files/kid_1241817_960_720_002.jpg" title="Outdoor Living – Bringing the Inside Out" alt="Outdoor Living – Bringing the Inside Out" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;"></a>
                                    </div>
                                    <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html" target="_top">Outdoor Living – Bringing the Inside Out</a>
                                    <div class="toe">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html" class="post-date">23 Oct 2017</a>
                                        <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html#comment-form" target="_top">No Comments</a>
                                    </div>
                                    <p class="post-summary">Enjoying
                                        your outside space does not have to take place on a dimly lit patio
                                        with moderately comfortable furniture devoid of fine...</p>
                                </li>
                                <li class="recent-box">
                                    <div class="imageContainer">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" target="_top">
                                            <img class="label_thumb" src="/News16_files/girl_97433_960_720_002.jpg" title="Help for Homeowners On the Hook for Billions in Hurricane Damages" alt="Help for Homeowners On the Hook for Billions in Hurricane Damages" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;">
                                        </a>
                                    </div>
                                    <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" target="_top">Help for Homeowners On the Hook for Billions in Hurricane Damages</a>
                                    <div class="toe">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" class="post-date">23 Oct 2017</a>
                                        <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html#comment-form" target="_top">No Comments</a>
                                    </div>
                                    <p class="post-summary">And now comes the arduous task of rebuilding hundreds of thousands of houses destroyed or damaged by Hurricanes Harvey and...</p>
                                </li>
                                <li class="recent-box">
                                    <div class="imageContainer">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/solving-major-problem-in-additive.html" target="_top">
                                            <img class="label_thumb" src="/News16_files/child_817373_960_720_002.jpg" title="Solving A Major Problem in Additive Manufacturing" alt="Solving A Major Problem in Additive Manufacturing" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;">
                                        </a>
                                    </div>
                                    <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/solving-major-problem-in-additive.html" target="_top">Solving A Major Problem in Additive Manufacturing</a>
                                    <div class="toe">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/solving-major-problem-in-additive.html" class="post-date">23 Oct 2017</a>
                                        <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/solving-major-problem-in-additive.html#comment-form" target="_top">No Comments</a>
                                    </div>
                                    <p class="post-summary">A
                                        new approach to making everything from jet engines to toys, called 3D
                                        printing, is creating a revolution in manufacturing — and...</p>
                                </li>
                                <li class="recent-box">
                                    <div class="imageContainer">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" target="_top">
                                            <img class="label_thumb" src="/News16_files/blue_2705642_960_720.jpg" title="5 Mistakes to Avoid When Choosing a Medicare Advantage Plan" alt="5 Mistakes to Avoid When Choosing a Medicare Advantage Plan" style="width: auto; height: 80px; margin-left: -22.7273px; margin-top: 0px;">
                                        </a>
                                    </div>
                                    <a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" target="_top">5 Mistakes to Avoid When Choosing a Medicare Advantage Plan</a>
                                    <div class="toe">
                                        <a href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" class="post-date">23 Oct 2017</a>
                                        <a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html#comment-form" target="_top">No Comments</a>
                                    </div>
                                    <p class="post-summary">The
                                        Medicare Annual Election Period takes place this fall from Oct. 15
                                        through Dec. 7. It’s a time for people with Medicare to...</p>
                                </li>
                            </ul>
                        </div>
                    </div></div>
                <div class="clear"></div>
            </div>
            #}


            <div class="banner section section" id="recent3"><div class="widget HTML" data-version="1" id="HTML106">
                    <div class="mag-wrapper">
                        <div class="widget-content">
                            <div class="title"><span></span><a href="https://news16-templatemark.blogspot.com/search/label/Tips%20and%20Tricks">Tips and Tricks</a><div class="viewall"><a href="https://news16-templatemark.blogspot.com/search/label/Tips%20and%20Tricks"><i aria-hidden="true" class="fa fa-list-ul"></i> All News</a></div></div>
                            <div class="clear"></div>
                            <ul id="label_with_thumbs"><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_top"><img class="label_thumb" src="/News16_files/spring_2298279_960_7_0acWE_002.jpg" title="New Resources Critical for Stroke Recovery" alt="New Resources Critical for Stroke Recovery" style="width: auto; height: 120px; margin-left: -39.0909px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_top">New Resources Critical for Stroke Recovery</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html#comment-form" target="_top">1 Comment</a></div><p class="post-summary">The American Heart Association/American Stroke Association (AHA/ASA), the world’s leading voluntary organization...</p></li><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" target="_top"><img class="label_thumb" src="/News16_files/girl_97433_960_720_002.jpg" title="Help for Homeowners On the Hook for Billions in Hurricane Damages" alt="Help for Homeowners On the Hook for Billions in Hurricane Damages" style="width: auto; height: 120px; margin-left: -39.0909px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" target="_top">Help for Homeowners On the Hook for Billions in Hurricane Damages</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/help-for-homeowners-on-hook-for.html#comment-form" target="_top">No Comments</a></div><p class="post-summary">And now comes the arduous task of rebuilding hundreds of thousands of houses destroyed or damaged by Hurricanes Harvey...</p></li><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/solving-major-problem-in-additive.html" target="_top"><img class="label_thumb" src="/News16_files/child_817373_960_720_002.jpg" title="Solving A Major Problem in Additive Manufacturing" alt="Solving A Major Problem in Additive Manufacturing" style="width: auto; height: 120px; margin-left: -39.0909px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/solving-major-problem-in-additive.html" target="_top">Solving A Major Problem in Additive Manufacturing</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/solving-major-problem-in-additive.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/solving-major-problem-in-additive.html#comment-form" target="_top">No Comments</a></div><p class="post-summary">A new approach to making everything from jet engines to toys, called 3D printing, is creating a revolution in...</p></li><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/how-to-increase-your-savings-on-your.html" target="_top"><img class="label_thumb" src="/News16_files/blue_69762_960_720.jpg" title="How to Increase Your Savings on Your Terms" alt="How to Increase Your Savings on Your Terms" style="width: auto; height: 120px; margin-left: -39.0909px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/how-to-increase-your-savings-on-your.html" target="_top">How to Increase Your Savings on Your Terms</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/how-to-increase-your-savings-on-your.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/how-to-increase-your-savings-on-your.html#comment-form" target="_top">No Comments</a></div><p class="post-summary">"You need to save money." You tell yourself this. Others tell you this too. However, according to the 2015 FDIC...</p></li></ul>
                        </div>
                    </div>
                </div></div>
            <div class="clear"></div>
            <div class="mag-wrapper">
                <div class="mag section section" id="recent1"><div class="widget HTML" data-version="1" id="HTML923">
                        <div class="widget-content">
                            <div class="title"><span></span><a href="https://news16-templatemark.blogspot.com/search/label/Gadgets">Gadgets</a><div class="viewall"><a href="https://news16-templatemark.blogspot.com/search/label/Gadgets"><i aria-hidden="true" class="fa fa-list-ul"></i> All News</a></div></div>
                            <div class="clear"></div>
                            <ul id="label_with_thumbs"><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" target="_top"><img class="label_thumb" src="/News16_files/woman_593141_960_720_003.jpg" title="New Form of Farming Revolutionizes the Way We Eat" alt="New Form of Farming Revolutionizes the Way We Eat" style="width: auto; height: 170px; margin-left: -51.5455px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" target="_top">New Form of Farming Revolutionizes the Way We Eat</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html#comment-form" target="_top">3 Comments</a></div></li><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_top"><img class="label_thumb" src="/News16_files/spring_2298279_960_7_0acWE_002.jpg" title="New Resources Critical for Stroke Recovery" alt="New Resources Critical for Stroke Recovery" style="width: auto; height: 170px; margin-left: -51.5455px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" target="_top">New Resources Critical for Stroke Recovery</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html#comment-form" target="_top">1 Comment</a></div></li><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html" target="_top"><img class="label_thumb" src="/News16_files/kid_1241817_960_720_002.jpg" title="Outdoor Living – Bringing the Inside Out" alt="Outdoor Living – Bringing the Inside Out" style="width: auto; height: 170px; margin-left: -51.5455px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html" target="_top">Outdoor Living – Bringing the Inside Out</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/outdoor-living-bringing-inside-out.html#comment-form" target="_top">No Comments</a></div></li><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" target="_top"><img class="label_thumb" src="/News16_files/blue_2705642_960_720.jpg" title="5 Mistakes to Avoid When Choosing a Medicare Advantage Plan" alt="5 Mistakes to Avoid When Choosing a Medicare Advantage Plan" style="width: auto; height: 170px; margin-left: -51.5455px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" target="_top">5 Mistakes to Avoid When Choosing a Medicare Advantage Plan</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/5-mistakes-to-avoid-when-choosing.html#comment-form" target="_top">No Comments</a></div></li><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/medical-device-protects-doctors-nurses.html" target="_top"><img class="label_thumb" src="/News16_files/beautiful_1274056_96_Gen40.jpg" title="Medical Device Protects Doctors, Nurses from Pathogens" alt="Medical Device Protects Doctors, Nurses from Pathogens" style="width: auto; height: 170px; margin-left: -51.5455px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/medical-device-protects-doctors-nurses.html" target="_top">Medical Device Protects Doctors, Nurses from Pathogens</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/medical-device-protects-doctors-nurses.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/medical-device-protects-doctors-nurses.html#comment-form" target="_top">No Comments</a></div></li><li class="recent-box"><div class="imageContainer"><a href="https://news16-templatemark.blogspot.com/2017/10/parents-get-help-coaching-teen-drivers.html" target="_top"><img class="label_thumb" src="/News16_files/balloons_388973_960__tsPXY.jpg" title="Parents Get Help Coaching Teen Drivers from Michelin, NFL Star" alt="Parents Get Help Coaching Teen Drivers from Michelin, NFL Star" style="width: auto; height: 170px; margin-left: -51.5455px; margin-top: 0px;"></a></div><a class="label_title" href="https://news16-templatemark.blogspot.com/2017/10/parents-get-help-coaching-teen-drivers.html" target="_top">Parents Get Help Coaching Teen Drivers from Michelin, NFL Star</a><div class="toe"><a href="https://news16-templatemark.blogspot.com/2017/10/parents-get-help-coaching-teen-drivers.html" class="post-date">23 Oct 2017</a><a class="recent-com" href="https://news16-templatemark.blogspot.com/2017/10/parents-get-help-coaching-teen-drivers.html#comment-form" target="_top">No Comments</a></div></li></ul>
                        </div>
                    </div></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="mag-wrapper">
                <div class="clear"></div>
            </div>
            <div class="clear"></div>


            {#
            <div class="mainblogsec section" id="mainblogsec">
                <div class="widget Blog" data-version="1" id="Blog1">
                    <div class="title22"><a href="https://news16-templatemark.blogspot.com/search/label/">Recently Published</a></div>
                    <div class="clear"></div>
                    <div class="blog-posts hfeed">
                        <!--Can't find substitution for tag [defaultAdStart]-->

                        <div class="date-outer">
                            <h2 class="date-header"><span>Monday, October 23, 2017</span></h2>
                            <div class="date-posts">
                                <div class="post-outer">
                                    <article class="post hentry">
                                        <a content="https://1.bp.blogspot.com/-Y3jtko20nZA/We42YMNGo4I/AAAAAAAACvA/UEahaZNOpCcC_3llLMX40ARU9MRkCPNMQCLcBGAs/s1600/woman_593141_960_720.jpg"></a>
                                        <div class="format-image hentry post-image post-format-image">
                                            <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" title="New Form of Farming Revolutionizes the Way We Eat">
                                                <img alt="New Form of Farming Revolutionizes the Way We Eat" itemprop="image" src="/News16_files/woman_593141_960_720_003.jpg" style="width:250px; height:200px" title="New Form of Farming Revolutionizes the Way We Eat">
                                            </a>
                                        </div>
                                        <h2 class="post-title entry-title">
                                            <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" title="New Form of Farming Revolutionizes the Way We Eat">
                                                New Form of Farming Revolutionizes the Way We Eat
                                            </a>
                                        </h2>
                                        <div class="post-info">
                                            <span class="author-info">
                                                <span class="vcard" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                                    <span class="fn">
                                                        by <a class="g-profile" href="https://www.blogger.com/profile/09280593907688002943" rel="author" title="author profile" data-onload="true" ><span itemprop="name">Muhammad Subel</span>
                                                        </a>
                                                    </span>
                                                </span>
                                            </span>
                                            <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                            <span class="time-info">     on <a class="timestamp-link" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html" rel="bookmark" title="permanent link"><abbr class="published updated timeago" title="2017-10-23T11:35:00-07:00">October 23, 2017</abbr></a>
                                            </span>
                                            <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                            <span class="comment-info">
                                                <a href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html#comment-form" onclick="">
                                                    3 Comments
                                                </a>
                                            </span>
                                        </div>
                                        <div class="post-header">
                                            <div class="post-header-line-1"></div>
                                        </div>
                                        <div class="post-body entry-content" id="post-body-8449873593006213023">
                                            <div id="summary8449873593006213023"><div>
                                                    By 2050, the world population will reach almost 10 billion people, at least 66 percent of whom will...</div></div>
                                            <div class="share-post">
                                                <a class="readmore2" href="https://news16-templatemark.blogspot.com/2017/10/new-form-of-farming-revolutionizes-way.html#more" title="New Form of Farming Revolutionizes the Way We Eat">Continue Reading <i aria-hidden="true" class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                    </article>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="post-outer">
                                    <article class="post hentry">
                                        <a content="https://3.bp.blogspot.com/-kdk75lCKEpw/We41sftnIlI/AAAAAAAACu4/gBYBc4R23-M-G7J9Dv3LgGqTsC6FB82nQCLcBGAs/s1600/sunglasses_635269_96_xlKy3.jpg"></a>
                                        <div class="format-image hentry post-image post-format-image">
                                            <a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" title="Study Suggests Today’s US Students Are Less Efficient Readers">
                                                <img alt="Study Suggests Today’s US Students Are Less Efficient Readers" itemprop="image" src="/News16_files/sunglasses_635269_96_xlKy3_002.jpg" style="width:250px; height:200px" title="Study Suggests Today’s US Students Are Less Efficient Readers">
                                            </a>
                                        </div>
                                        <h2 class="post-title entry-title">
                                            <a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" title="Study Suggests Today’s US Students Are Less Efficient Readers">
                                                Study Suggests Today’s US Students Are Less Efficient Readers
                                            </a>
                                        </h2>
                                        <div class="post-info">
                                            <span class="author-info">
                                                <span class="vcard" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                                    <span class="fn">
                                                        by <a class="g-profile" href="https://www.blogger.com/profile/09280593907688002943" rel="author" title="author profile"><span itemprop="name">Muhammad Subel</span>
                                                        </a>
                                                    </span>
                                                </span>
                                            </span>
                                            <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                            <span class="time-info">     on <a class="timestamp-link" href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html" rel="bookmark" title="permanent link"><abbr class="published updated timeago" title="2017-10-23T11:33:00-07:00">October 23, 2017</abbr></a>
                                            </span>
                                            <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                            <span class="comment-info">
                                                <a href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html#comment-form" onclick="">
                                                    2 Comments
                                                </a>
                                            </span>
                                        </div>
                                        <div class="post-header">
                                            <div class="post-header-line-1"></div>
                                        </div>
                                        <div class="post-body entry-content" id="post-body-8050910231331378720">
                                            <div id="summary8050910231331378720"><div>
                                                    Do today’s students perform better than their peers in 1960? Given the advances in education and technology,...</div></div>
                                            <div class="share-post">
                                                <a class="readmore2" href="https://news16-templatemark.blogspot.com/2017/10/study-suggests-todays-us-students-are.html#more" title="Study Suggests Today’s US Students Are Less Efficient Readers">Continue Reading <i aria-hidden="true" class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                    </article>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="post-outer">
                                    <article class="post hentry">
                                        <a content="https://1.bp.blogspot.com/-_e9zZwsXQVU/We41D5-OWQI/AAAAAAAACu0/2NsZhKFAIdAga4R5KZn23z-mlJW0j3zBQCLcBGAs/s1600/spring_2298279_960_7_0acWE.jpg"></a>
                                        <div class="format-image hentry post-image post-format-image">
                                            <a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" title="New Resources Critical for Stroke Recovery">
                                                <img alt="New Resources Critical for Stroke Recovery" itemprop="image" src="/News16_files/spring_2298279_960_7_0acWE_002.jpg" style="width:250px; height:200px" title="New Resources Critical for Stroke Recovery">
                                            </a>
                                        </div>
                                        <h2 class="post-title entry-title">
                                            <a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" title="New Resources Critical for Stroke Recovery">
                                                New Resources Critical for Stroke Recovery
                                            </a>
                                        </h2>
                                        <div class="post-info">
                                            <span class="author-info">
                                                <span class="vcard" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                                    <span class="fn">
                                                        by <a class="g-profile" href="https://www.blogger.com/profile/09280593907688002943" rel="author" title="author profile"><span itemprop="name">Muhammad Subel</span>
                                                        </a>
                                                    </span>
                                                </span>
                                            </span>
                                            <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                            <span class="time-info">     on <a class="timestamp-link" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html" rel="bookmark" title="permanent link"><abbr class="published updated timeago" title="2017-10-23T11:30:00-07:00">October 23, 2017</abbr></a>
                                            </span>
                                            <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                            <span class="comment-info">
                                                <a href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html#comment-form" onclick="">
                                                    1 Comment
                                                </a>
                                            </span>
                                        </div>
                                        <div class="post-header">
                                            <div class="post-header-line-1"></div>
                                        </div>
                                        <div class="post-body entry-content" id="post-body-269131455136988356">
                                            <div id="summary269131455136988356"><div>
                                                    The American Heart Association/American Stroke Association (AHA/ASA), the world’s leading voluntary...</div></div>
                                            <div class="share-post">
                                                <a class="readmore2" href="https://news16-templatemark.blogspot.com/2017/10/new-resources-critical-for-stroke.html#more" title="New Resources Critical for Stroke Recovery">Continue Reading <i aria-hidden="true" class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                    </article>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="post-outer">
                                    <article class="post hentry">
                                        <a content="https://3.bp.blogspot.com/-F2lFBs-bodE/We40X7tzZdI/AAAAAAAACus/KdWH-jC-bn4flK6xEbmwQ9l-fM0TXdXKACLcBGAs/s1600/necklace_518268_960__CTVFi.jpg"></a>
                                        <div class="format-image hentry post-image post-format-image">
                                            <a href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" title="Fall in Love with Greater Fort Lauderdale">
                                                <img alt="Fall in Love with Greater Fort Lauderdale" itemprop="image" src="/News16_files/necklace_518268_960__CTVFi.jpg" style="width:250px; height:200px" title="Fall in Love with Greater Fort Lauderdale">
                                            </a>
                                        </div>
                                        <h2 class="post-title entry-title">
                                            <a href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" title="Fall in Love with Greater Fort Lauderdale">
                                                Fall in Love with Greater Fort Lauderdale
                                            </a>
                                        </h2>
                                        <div class="post-info">
                                            <span class="author-info">
                                                <span class="vcard" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                                    <span class="fn">
                                                        by <a class="g-profile" href="https://www.blogger.com/profile/09280593907688002943" rel="author" title="author profile" ><span itemprop="name">Muhammad Subel</span>
                                                        </a>
                                                    </span>
                                                </span>
                                            </span>
                                            <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                            <span class="time-info">     on <a class="timestamp-link" href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html" rel="bookmark" title="permanent link"><abbr class="published updated timeago" title="2017-10-23T11:27:00-07:00">October 23, 2017</abbr></a>
                                            </span>
                                            <span><i aria-hidden="true" class="fa fa-angle-right"></i></span>
                                            <span class="comment-info">
                                                <a href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html#comment-form" onclick="">
                                                    0 Comment
                                                </a>
                                            </span>
                                        </div>
                                        <div class="post-header">
                                            <div class="post-header-line-1"></div>
                                        </div>
                                        <div class="post-body entry-content" id="post-body-342433724222900886">
                                            <div id="summary342433724222900886"><div>
                                                    Travelers may think of summer and beach activities when they think of Florida, but Greater Fort Lauderdale...</div></div>
                                            <div class="share-post">
                                                <a class="readmore2" href="https://news16-templatemark.blogspot.com/2017/10/fall-in-love-with-greater-fort.html#more" title="Fall in Love with Greater Fort Lauderdale">Continue Reading <i aria-hidden="true" class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                    </article>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                        <!--Can't find substitution for tag [adEnd]-->
                    </div>
                    <div style="clear: both;"></div>
                    <div class="blog-pager" id="blog-pager">
                        <span id="blog-pager-older-link">
                            <a class="blog-pager-older-link" href="https://news16-templatemark.blogspot.com/search?updated-max=2017-10-23T11:27:00-07:00&amp;max-results=4" id="Blog1_blog-pager-older-link" title="Older Posts">Older Posts&nbsp;→</a>
                        </span>
                        <a class="home-link" href="https://news16-templatemark.blogspot.com/">Home</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            #}


        </div>
    </div>


{% endblock %}

{% block head %}
    {{ parent() }}

    {#
    <style>
        #map {
            width: 100%;
            height: 400px;
            background-color: grey;
        }
    </style>
    #}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    {#
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsXUGTFS09pLVdsYEE9YrO2y4IAncAO2U"></script>
    <script src="{{ base_url() }}/resources/js/google-map.min.js" type="text/javascript"></script>


    <script src="{{ base_url() }}/assets/bootstrap-validator/dist/validator.min.js?ver={{ version }}"></script>

    <script type="text/javascript">
		$(document).ready(function(){

		});
    </script>
    #}
{% endblock %}