<!-- Contact -->
<div id="contact">
    <!-- Contact List -->
    <div class="section-seperator">
        <div class="content-lg container">
            <div class="row margin-b-40">
                <div class="col-sm-12">
				
                    <h2>{{ title|trans }}</h2>
					<br>
                   <ul class="list-unstyled contact-list"><i class="margin-r-10 margin-t-4 color-base icon-envelope " style="float: left;" ></i>{{ text|raw }}</ul>
                </div>
            </div>

            <div class="row">
                <!-- End Contact List -->
						<div class="inner contact">
						
                <!-- Form Area -->
                <div class="contact-form">
				
                <!-- Right Inputs -->
                <div class="col-sm-6 {#wow animated slideInRight#}" data-wow-delay=".5s">
                    <form id="contact-us" method="POST" action="{{ path_for('contact', {'lang': lang}) }}" data-toggle="validator">

                        <div class="form-group has-feedback">
                            <label class="sr-only" for="name">{{ 'Name'|trans }}</label>
                            <input id="name" name="name" class="form-control form" placeholder="{{ 'Name'|trans }}" required="" type="text" data-error="{{ 'Invalid value'|trans }}">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class="sr-only" for="auth_login">Email</label>
                            <input id="email" name="email" class="form-control form" placeholder="Email" required="" type="email" data-error="{{ 'Invalid value'|trans }}">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <textarea id="text" name="text" class="form-control form textarea" placeholder="{{ 'Write a massage'|trans }}" rows="10" required="" data-error="{{ 'Write a massage'|trans }}"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="relative fullwidth col-xs-12">
                            <!-- Send Button -->
                            <button type="submit" id="submit" name="submit" class="form-btn semibold">{{ 'Submit'|trans }}</button>
                        </div>
                    </form>
                </div><!-- End Right Inputs -->
				 </div>
        </div>
            </div>
        </div>
    </div>
    <!-- End Contact List -->
</div>
<!-- End Contact -->