{% extends 'frontend_layout.twig' %}

{% block content %}
    <div class="content-area" id="primarybwrap">
        <div class="bwrapsite-main" id="mainbwrap" role="main">
            <div class="post-outer">
                <article class="post hentry">
                    <h1 class="post-title entry-title">{{ page.title }}</h1>
                    <div class="post-body entry-content">
                        <table id="tableData" class="table table-striped table-bordered table-hover" style="width: 100%"></table>
                    </div>
                </article>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/assets/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="/libs/DataTables/dataTables.min.css">
    <link rel="stylesheet" href="/assets/dataTableExportCollection/dataTableExportCollection.css">

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript" src="/assets/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript" src="/libs/DataTables/datatables.min.js"></script>

    <script type="text/javascript" src="/assets/dataTableSelectAllBtn/dataTableSelectAllBtn.js"></script>
    <script type="text/javascript" src="/assets/dataTableExportCollection/dataTableExportCollection.js"></script>
    <script type="text/javascript" src="/assets/dataTableColumnFilter/dataTableColumnFilter.js"></script>
    <script type="text/javascript" src="/assets/dataTableActionBtns/dataTableActionBtns.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $.extend( true, $.fn.dataTable.defaults, {
                dom: "<'row'<'col-sm-6 col-lg-3'{#B#}><'col-sm-6 col-lg-3'l><'col-sm-6 col-lg-4'fr><'col-sm-6 col-lg-2 text-right'b>>" +
                "<'row'<'col-sm-12't>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",

                serverSide: true,
                //    ordering: false,
                //   searching: false,

                scrollY: '54vh',
                scrollX: true,
                scrollCollapse: true,
                scroller: {
                    loadingIndicator: true,
                    displayBuffer: 20
                },
            {#
                buttons: [
                    'select_all',
                    'export_collection',
                    {
                        extend: 'colvis',
                        text: '<i class="fa fa-eye-slash" aria-hidden="true"></i>',
                        titleAttr: 'Column visibility',
                        columns: ':not(.action_btns_container)',
                        postfixButtons: [ 'colvisRestore' ],
                    },
                ],
#}
                language: {{ dtLanguage|raw }},

                select: {
                    style: 'multi',
                    selector: 'td:not(.action_btns_container)',
                    blurable: true
                },
                /*
                stateSave: true,
                stateSaveParams: function (settings, data) {
                    delete data.search;
                    for (var i = 0;i < data.columns.length; i++){
                        delete data.columns[i].search;
                    }
                },
                */
                colReorder: {realtime: false},

                dataTableColumnFilter: true,

                order: [],   /* Disable initial sort */
                //order: [[ 0, 'asc' ]],

               // autoWidth: false, //Disable smart width calculations

                //iDisplayLength: 5,
                //aLengthMenu: [ [5, 50, -1], [5, 50, "All"] ],
            } );


            var tableData = $('#tableData').DataTable( {
                ajax: "{{ base_url() }}{{ path_for(currentRoute~'_getTable', {'lang': lang}) }}",
                columns: {{ dtColumns|raw }},

                dataTableActionBtns: {{ actions|json_encode|raw }},
            });
        });
    </script>
{% endblock %}