{% extends 'frontend_layout.twig' %}

{% block content %}
    <div class="content-lg container margin-t-40">
        <div class="page-header">
            <h2>{{ 'Forgot password'|trans }}</h2>
        </div>

        <div class="row">
            <div class="col-sm-6" >
                <p>{{ 'Please enter your login and email to repair your password'|trans }}</p>
                <br>
                <form id="myForm" method="POST" data-toggle="validator" action="{{ path_for('forgotPassword', {'lang': lang}) }}">
                    <h2 class="form-signin-heading"></h2>
                    <div class="form-group has-feedback">
                        <label class="sr-only" for="auth_login">{{ 'Login'|trans }}</label>
                        <input id="auth_login" name="login" class="form-control form" placeholder="{{ 'Login'|trans }}" required="" autofocus="" type="text" data-error="{{ 'Invalid value'|trans }}">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="sr-only" for="auth_login">Email</label>
                        <input id="email" name="email" class="form-control form" placeholder="Email" required="" type="text" data-error="{{ 'Invalid value'|trans }}">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <button class="form-btn semibold" type="submit">{{ 'Submit'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ base_url() }}/assets/bootstrap-validator/dist/validator.min.js?ver={{ version }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){

        });
    </script>
{% endblock %}