{% extends 'frontend_layout.twig' %}

{% block content %}
    <div class="content-area" id="primarybwrap">
        <div class="bwrapsite-main" id="mainbwrap" role="main">
            <div class="container" style="width: 100%">
                <div class="row">
                    <div class="col-sm-12" >
                        <ul class="nav nav-tabs" style="margin-left: 0">
                            <li {{ currentRoute == 'login'    ? 'class="active"' }}><a data-toggle="tab" href="#signin">{{ 'Sign in'|trans }}</a></li>
                            <li {{ currentRoute == 'register' ? 'class="active"' }}><a data-toggle="tab" href="#signup">{{ 'Sign up'|trans }}</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="signin" class="tab-pane fade {{ currentRoute == 'login' ? 'in active' }}" style="border: none">
                                <form id="loginForm" method="post" data-toggle="validator" action="{{ path_for('login', {'lang': lang}) }}">
                                    <h4 class="form-signin-heading">{{ 'Please sign in'|trans }}</h4>
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="auth_login">{{ 'Email'|trans }}</label>
                                        <input id="auth_login" name="login" class="form-control form" placeholder="{{ 'Email'|trans }}" required="" autofocus="" type="text" data-error="{{ 'Invalid value'|trans }}">
                                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="auth_password">{{ 'Password'|trans }}</label>
                                        <input id="auth_password" name="password" class="form-control form" placeholder="{{ 'Password'|trans }}" required="" type="password" data-minlength="6" data-error="{{ 'Invalid value'|trans }}">
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    {#
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember_me" value="remember-me" type="checkbox">
                                            {{ 'Remember me'|trans }}
                                        </label>
                                    </div>
                                    #}
                                    <div class="form-group">
                                        <button class="form-btn semibold" type="submit">{{ 'Sign in'|trans }}</button>
                                    </div>
                                </form>
                                <a href="{{ path_for('forgotPassword', {'lang': lang}) }}">{{ 'I forgot my password'|trans }}</a>
                                <br><br>
                            </div>
                            <div id="signup" class="tab-pane fade {{ currentRoute == 'register' ? 'in active' }}" style="border: none">
                                <form id="registerForm" method="post" data-toggle="validator" action="{{ path_for('register', {'lang': lang}) }}">
                                    <h4 class="form-signin-heading">{{ 'Registration'|trans }}</h4>

                                    <div class="form-group has-feedback">
                                        <label for="name">{{ 'Name'|trans }} <span class="text-danger">*</span></label>
                                        <input id="name" name="name" class="form-control form" placeholder="{{ 'Name'|trans }}" required="" type="text" data-error="{{ 'Invalid value'|trans }}">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label for="email">{{ 'Email'|trans }} <span class="text-danger">*</span></label>
                                        <input id="email" name="email" class="form-control form" placeholder="{{ 'Email'|trans }}" required="" type="text" data-error="{{ 'Invalid value'|trans }}" data-remote="{{ path_for('checkNotExists', {'lang': lang}) }}">
                                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="inputPassword">{{ 'Password'|trans }} <span class="text-danger">*</span></label>
                                        <input id="inputPassword" name="password" class="form-control form" placeholder="{{ 'Password'|trans }}" required="" type="password" data-minlength="6" >
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                        <div class="help-block with-errors">{{ 'Minimum of 6 characters'|trans }}</div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form" id="passwordConfirm" data-match="#inputPassword" data-error="{{ 'Password don\'t match'|trans }}" placeholder="{{ 'Confirm password'|trans }}" required="" >
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="terms" data-error="{{ 'You must first agree to the terms'|trans }}" required>
                                                {% set rules_link = '<a href="'~path_for('rules', {'lang': lang})~'">'~'terms and conditions'|trans~'</a>' %}
                                                {{ 'I understand, accept, and agree to the following %terms%.'|trans({'%terms%': rules_link})|raw }}
                                            </label>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button class="form-btn semibold" type="submit">{{ 'Sign up'|trans }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block head %}
    {{ parent() }}

    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/assets/select2/dist/css/select2.min.css?ver={{ version }}">
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/assets/select2-bootstrap-theme-dist/dist/select2-bootstrap.min.css?ver={{ version }}">

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ base_url() }}/assets/select2/dist/js/select2.min.js?ver={{ version }}"></script>
    <script src="{{ base_url() }}/assets/select2/dist/js/i18n/{{ lang }}.js?ver={{ version }}"></script>

    <script src="{{ base_url() }}/resources/js/select2Countries.js?ver={{ version }}"></script>

    <script src="{{ base_url() }}/assets/inputmask/dist/min/jquery.inputmask.bundle.min.js?ver={{ version }}"></script>


    <script src="{{ base_url() }}/assets/bootstrap-validator/dist/validator.min.js?ver={{ version }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#registerForm').validator('update');
        });
    </script>
{% endblock %}