<div class="white-popup">
    <p>{{'Buy access to this tender'|trans }}{{'promo action'|trans }}</p>
    {#
    <div class="form-group">
        <label for="my_file">{{ 'Attachment'|trans }}</label>
        <input id="my_file" name="my_file[]" type="file" multiple accept=".txt,.doc,.docx,.xls,.xlsx,.pdf">
    </div>
    #}
    <a id="payment_btn" class="btn btn-primary" href="{{ path_for('tenders_access', {'lang': lang, 'id': id}) }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {{ 'Buy'|trans }}</a>

</div>