{% extends 'backend_layout.twig' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{{ pageTitle }}</h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            {% if item is defined %}
                <div class="col-lg-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ item.name }}</h3>
                            <span class="description "></span>
                        </div>
                        <div class="box-body">
                            <strong>
                                <i class="fa fa-file-text-o margin-r-5"></i>
                                {{ 'Description'|trans }}:
                            </strong>
                            {{ item.description_full|raw }}

                            <br>
                            <strong>
                                <i class="fa fa-calendar-times-o margin-r-5"></i>
                                {{ 'Tender ends at'|trans }}:
                            </strong>
                            <span class="text-red">{{ item.finishedAt|default('') == '' ? "" : item.finishedAt|date("d.m.Y H:i") }}</span>

                            <br>
                            {% for file in files %}
                                <a class="btn btn-primary" style="margin-right: 5px;" href="{{ base_url() }}/uploads/{{ file.file }}">
                                    <i class="fa fa-download"></i> {{ 'Download attachment'|trans }}
                                </a>
                                <br><br>
                            {% endfor %}

                            <hr>

                            <div class="row invoice-info">
                                <div class="col-sm-6 invoice-col">
                                    {{ 'Company'|trans }}
                                    <address>
                                        <strong>{{ item.user_name }}</strong>
                                        <br>VÖEN: {{ item.user_voen }}
                                        <br><i class="glyphicon glyphicon-map-marker text-light-blue"></i> : {{ item.user_address }}
                                        <br><i class="glyphicon glyphicon-phone-alt text-light-blue"></i> : {{ item.user_phone }}
                                        <br><i class="glyphicon glyphicon-envelope text-light-blue"></i> : <a href="mailto:{{ item.user_email }}">{{ item.user_email }}</a>
                                        {% if item.user_site|length > 0 %}
                                            <br><i class="glyphicon glyphicon-globe text-light-blue"></i> : <a href="{{ item.user_site }}">{{ item.user_site }}</a>
                                        {% endif %}
                                        {% if item.user_site|length > 0 %}
                                            <br><i class="fa fa-facebook-official text-light-blue" style="font-size: 17px"></i> : <a href="{{ item.user_facebook }}">{{ item.user_facebook }}</a>
                                        {% endif %}
                                    </address>
                                    <p>
                                        {#{% set display_stars = (session.user.groupId == 1 or chat.voted == 1) ? 'data-display-only="true"' : '' %}#}
                                        {% set display_stars = (session.user.groupId in [1, 2]) ? 'data-display-only="true"' : '' %}

                                        <input type="text" class="star-rating" value="{{ item.user_stars }}" {{ display_stars|default('') }} data-vote-for="{{ item.user_id }}" >
                                    </p>
                                </div>
                                <div class="col-sm-6 invoice-col">
                                    {% if item.contact_name|length > 0 %}
                                        {{ 'Contact'|trans }}
                                        <address>
                                            <strong>{{ item.contact_name }}</strong>
                                            <br>{{ item.contact_position }}
                                            <br><i class="glyphicon glyphicon-phone-alt text-light-blue"></i> : {{ item.contact_phone }}
                                            <br><i class="glyphicon glyphicon-envelope text-light-blue"></i> : <a href="mailto:{{ item.contact_email }}">{{ item.contact_email }}</a>
                                        </address>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                {% if session.user.groupId == 3 and chats|length == 0 %}
                                    <button class="btn btn-primary open-popup-link">{{ 'Participate'|trans }}</button>
                                {% endif %}

                                {% if (session.user.groupId == 1 or session.user.userId == item.userId) and item.status|default('') in [0, 1] %}
                                    <a class="btn btn-danger" href="{{ path_for('tenders_finish', {'lang': lang, 'id': item.tenderId}) }}" onclick="return confirm('{{ 'Are you sure, you want to finish tender?'|trans }}')">{{ 'Finish'|trans }}</a>
                                {% endif %}

                                <a class="btn btn-default pull-right" href="{{ path_for('tenders', {'lang': lang}) }}">{{ 'Back'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
        <div id="participate_popup" class="white-popup mfp-hide">
            <p>{{ 'You must apply resume to participate the tender'|trans }}</p>
            <div class="form-group">
                <label for="my_text">{{ 'Write a massage'|trans }}</label>
                <textarea id="my_text" name="my_text" class="form-control" placeholder="{{ 'Write a massage'|trans }}"></textarea>
            </div>
            <div class="form-group">
                <label for="my_file">{{ 'Attachment'|trans }} <span class="text-red">*</span></label>
                <input id="my_file" name="my_file[]" type="file" multiple accept=".txt,.doc,.docx,.xls,.xlsx,.pdf">
            </div>
            <button id="participate_btn" class="btn btn-primary">{{ 'Participate'|trans }}</button>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block head %}
    {{ parent() }}

    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/assets/magnific-popup/dist/magnific-popup.css?ver={{ version }}">
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/assets/bootstrap-fileinput/css/fileinput.min.css?ver={{ version }}" media="all" >

    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/assets/adminlte/plugins/ckeditor/skins/moono/editor_gecko.css?t=H5SE&ver={{ version }}">
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/assets/adminlte/plugins/ckeditor/skins/moono/dialog.css?t=H5SE&ver={{ version }}">
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ base_url() }}/assets/magnific-popup/dist/jquery.magnific-popup.min.js?ver={{ version }}"></script>

    <!-- piexif.min.js is only needed if you wish to resize images before upload to restore exif data.
         This must be loaded before fileinput.min.js -->
    <script src="{{ base_url() }}/assets/bootstrap-fileinput/js/plugins/piexif.min.js?ver={{ version }}" type="text/javascript"></script>
    <!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
         This must be loaded before fileinput.min.js -->
    <script src="{{ base_url() }}/assets/bootstrap-fileinput/js/plugins/sortable.min.js?ver={{ version }}" type="text/javascript"></script>
    <!-- purify.min.js is only needed if you wish to purify HTML content in your preview for HTML files.
         This must be loaded before fileinput.min.js -->
    <script src="{{ base_url() }}/assets/bootstrap-fileinput/js/plugins/purify.min.js?ver={{ version }}" type="text/javascript"></script>
    <!-- the main fileinput plugin file -->
    <script src="{{ base_url() }}/assets/bootstrap-fileinput/js/fileinput.min.js?ver={{ version }}"></script>
    <!-- optionally if you need a theme like font awesome theme you can include it as mentioned below -->
    <script src="{{ base_url() }}/assets/bootstrap-fileinput/themes/fa/theme.js?ver={{ version }}"></script>
    <!-- optionally if you need translation for your language then include locale file as mentioned below -->
    <script src="{{ base_url() }}/assets/bootstrap-fileinput/js/locales/{{ lang }}.js?ver={{ version }}"></script>

    <script src="{{ base_url() }}/assets/adminlte/plugins/ckeditor/ckeditor.js?ver={{ version }}"></script>
    <script src="{{ base_url() }}/assets/adminlte/plugins/ckeditor/config.js?t=H5SE&ver={{ version }}"></script>
    <script src="{{ base_url() }}/assets/adminlte/plugins/ckeditor/lang/{{ lang }}.js?t=H5SE&ver={{ version }}"></script>
    <script src="{{ base_url() }}/assets/adminlte/plugins/ckeditor/styles.js?t=H5SE&ver={{ version }}"></script>
    <script src="{{ base_url() }}/assets/adminlte/plugins/ckeditor/plugins/image/dialogs/image.js?t=H5SE&ver={{ version }}"></script>

    <script src="{{ base_url() }}/assets/bootstrap-validator/dist/validator.min.js?ver={{ version }}"></script>
    <script type="text/javascript" src="{{ base_url() }}/resources/js/TenderChat.js?ver={{ version }}"></script>

    <script type="text/javascript">

        $(document).ready(function(){
	        $('.open-popup-link').magnificPopup({
		        items: {
			        src: '#participate_popup',
			        type: 'inline',
		        },
		        midClick: true, // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
                callbacks: {
                    open: function() {
                        CKEDITOR.replace('my_text');
                    },
                }
	        });

	        $('[data-toggle="tooltip"]').on('click', function () {
		        var icon = $(this).find('i.fa');
		        if(icon.hasClass('fa-id-card-o')){
			        icon.removeClass('fa-id-card-o').addClass('fa-comments-o');
		        }else{
			        icon.removeClass('fa-comments-o').addClass('fa-id-card-o');
		        }

		        if($(this).parents('.direct-chat').hasClass('collapsed-box')){
			        $(this).parent().find('.chat-collapser').click();
		        }
	        });

	        $('.direct-chat').on('click', function () {
		        $(this).find("input[name='chat-message']").focus();
	        });

	        $( "input[name='chat-message']").keyup(function(event){
		        if(event.keyCode == 13){
			        var chat_id = $(this).attr('data-chat-id');
			        eval(('myChat'+chat_id)).save();
		        }
	        });

	        $(".star-rating").rating({
		        min:0, max:5, step:1, size:'xs',
		        showCaption: false,
		        showClear:false
	        }).on('rating.change', function(event, value, caption) {

		        var voteFor = $(this).attr('data-vote-for');
		        //$( "input[data-vote-for='"+voteFor+"']").rating("refresh", {displayOnly:true});

		        $.ajax({
			        url: '{{ path_for('chat_vote', {'lang': lang}) }}',
			        type: "POST",
			        dataType: "json",
			        data: {
				        voteFor : $(this).attr('data-vote-for'),
				        stars   : value
			        },
			        statusCode: {
				        201: function(data, textStatus, jqXHR) {
					        $( "input[data-vote-for='"+voteFor+"']").rating("update", value);
				        },
			        }
		        });
	        });

            {% if item is defined %}
	            var fileinput = $("#my_file").fileinput({

		            uploadAsync:                false,

		            showUpload:                 false,
		            showCaption:                true,
		            showClose:                  false,
		            showRemove:                 false,
		            overwriteInitial:           false,
		            maxFileCount:               5,
		            previewFileType:            'any',
		            initialPreviewAsData:       true,
		            //allowedPreviewTypes:        null,
		            preferIconicPreview:        true, // this will force thumbnails to display icons for following file extensions
		            //preferIconicZoomPreview:    true,
		            allowedFileExtensions:      ['txt', 'doc', 'docx', 'xls', 'xlsx', 'pdf'],

		            validateInitialCount: true,

		            uploadUrl: "{{ base_url() }}{{ path_for('tenders_participate', {'lang': lang, 'id': item.tenderId}) }}",
		            uploadExtraData: function(previewId, index) {
			            return {
			                key: index,
                            secret: '{{ secret }}',
                            my_text: CKEDITOR.instances.my_text.getData()
			            };
		            },

		            // configure your icon file extensions
		            previewFileIconSettings: {
			            'doc': '<i class="fa fa-file-word-o text-primary"></i>',
			            'xls': '<i class="fa fa-file-excel-o text-success"></i>',
			            'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
			            'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
			            'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
			            'htm': '<i class="fa fa-file-code-o text-info"></i>',
			            'txt': '<i class="fa fa-file-text-o text-info"></i>',
			            'mov': '<i class="fa fa-file-movie-o text-warning"></i>',
			            'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
			            // note for these file types below no extension determination logic
			            // has been configured (the keys itself will be used as extensions)
			            'jpg': '<i class="fa fa-file-photo-o text-danger"></i>',
			            'gif': '<i class="fa fa-file-photo-o text-muted"></i>',
			            'png': '<i class="fa fa-file-photo-o text-primary"></i>'
		            },
		            previewFileExtSettings: { // configure the logic for determining icon file extensions
			            'doc': function(ext) {
			    	        return ext.match(/(doc|docx)$/i);
			            },
			            'xls': function(ext) {
			    	        return ext.match(/(xls|xlsx)$/i);
			            },
			            'ppt': function(ext) {
			    	        return ext.match(/(ppt|pptx)$/i);
			            },
			            'zip': function(ext) {
			    	        return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
			            },
			            'htm': function(ext) {
			    	        return ext.match(/(htm|html)$/i);
			            },
			            'txt': function(ext) {
			    	        return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
			            },
			            'mov': function(ext) {
			    	        return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
			            },
			            'mp3': function(ext) {
			    	        return ext.match(/(mp3|wav)$/i);
			            },
			            'pdf': function(ext) {
			    	        return ext.match(/(pdf)$/i);
			            },
		            },
	            }).on("filebatchuploadsuccess", function(event, data, previewId, index) {
                    window.location = "{{ base_url() }}{{ path_for('tenders_get', {'lang': lang, 'id': item.tenderId}) }}";
	            });

	            $("#participate_btn").on("click", function () {
		            fileinput.fileinput("upload");
	            });

            {% endif %}
        });
    </script>

{% endblock %}