{% extends 'backend_layout.twig' %}



{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{{ pageTitle }}</h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-8 col-lg-7">
                <div class="box box-primary">
                    <div class="box-body">
                        <form id="myForm" method="POST" action="{{ currentUrl }}" data-toggle="validator">
                            <div class="form-group row">
                                <label for="months" class="col-sm-5 col-form-label"><span class="pull-right">{{ 'Payment amount per month'|trans }}:</span></label>
                                <div class="col-sm-7">
                                    <input id="periodicPayment" class="form-control" type="text" disabled value="{{ billingOptions.periodicPayment }}" style="text-align:right">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="months" class="col-sm-5 col-form-label"><span class="pull-right">{{ 'Months'|trans }}:</span></label>
                                <div class="col-sm-7">
                                    <select id="months" name="months" class="form-control select2" required="" data-error="{{ 'Select amount of months you want to pay for'|trans }}">
                                        <option value="" selected disabled></option>
                                        <option value="1" > 1</option>
                                        <option value="2" > 2</option>
                                        <option value="3" > 3</option>
                                        <option value="4" > 4</option>
                                        <option value="5" > 5</option>
                                        <option value="6" > 6</option>
                                        <option value="7" > 7</option>
                                        <option value="8" > 8</option>
                                        <option value="9" > 9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="months" class="col-sm-5 col-form-label"><span class="pull-right">{{ 'Total amount to be paid'|trans }}:</span></label>
                                <div class="col-sm-7">
                                    <input id="total" name="total" class="form-control" type="text" readonly value="0" style="text-align:right">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" form="myForm">{{ 'Pay'|trans }}</button>
                            <a class="btn btn-default pull-right" href="{{ path_for('tenders', {'lang': lang}) }}">{{ 'Cancel'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block head %}
    {{ parent() }}

    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/assets/select2/dist/css/select2.min.css?ver={{ version }}">
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/assets/select2/dist/css/select2-bootstrap.min.css?ver={{ version }}">
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="{{ base_url() }}/assets/select2/dist/js/select2.min.js?ver={{ version }}"></script>
    <script src="{{ base_url() }}/assets/select2/dist/js/i18n/{{ lang }}.js?ver={{ version }}"></script>

    <script src="{{ base_url() }}/assets/bootstrap-validator/dist/validator.min.js?ver={{ version }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
        	var periodicPayment = $("#periodicPayment").val();

	        var months = $('#months').select2({
		        placeholder: "{{ 'Select amount of months you want to pay for'|trans }}",
		        theme: "bootstrap",
		        width: '100%',
	        }).on('change', function () {
		        $('#total').val( ($("#months option:selected").text() * periodicPayment).format(2));
	        });
        });
    </script>

{% endblock %}